body {
    display: flex;
    width: 100%;
    height: 90vh;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
h1{
    color: #1290ff;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.5px;
    text-align: center;

}

div {
    margin-top: 70px;
}

ul {
    margin-top: 20px;
    padding-left: 0;
}

ul li {
    list-style: none;
    color: rgba(148, 148, 148, 0.87);
    padding: 7px;
    border-top: 1px solid rgb(185, 185, 185);
    font-weight: 800;
    text-transform: capitalize;
}

input {
    border-radius: 18px;
    border: 2px solid rgb(172, 172, 172);
    padding: 0 20px;
    font-size: 14px;
    height: 36px;
    color: gray;
}


input:focus {
    border: 2px solid #1290ff;
    outline: none;
}

button {
    padding: 7px 22px;
    border-radius: 19px;
    border: none;
    outline: none;
    color: white;
    background: #017be6;
    font-weight: 600;
}

@media (max-width: 600px) {


    body {
        padding: 0 20px;
    }

    button {
        padding: 5px 20px;
        border-radius: 19px;
        font-weight: 500;
        font-size: 15px;
    }

    ul li {
        padding: 5px;
        font-weight: 700;
    }

    input {
        border-radius: 16px;
        padding: 0 13px;
        font-size: 13px;
        height: 32px;
        width: 170px;
        margin-bottom: 5px;
    }
}